@CHARSET "UTF-8";

#noticeBoard div.boardOption > ul > li {
    float: left;
    margin-right: 6px;
}

#noticeBoard div.boardOption > ul {
    float: left;
    padding-bottom: 10px;
}

#noticeBoard .chosen-container {
    position: relative;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    font-size: 12px;
    zoom: 1;
    *display: inline;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}